@model IEnumerable<TicketManzano.Models.EstadoTickets>
@{
    ViewBag.Title = "Listado de Asuntos de Tickets";
}

<h2>Listar Estados de Tickets</h2>


<p>
    <button type="button" class="btn btn-success"><i class="bi bi-check-circle"></i> Nuevo</button>
    @*@Html.ActionLink("Nuevo Asunto de Tickets", "Create", new { @class = "btn btn-success" })*@
</p>
<table id="tablaestados" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Nombre
            </th>

            <th>
                Acciones
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEstado)
            </td>

            <td>
                <button class="btn btn-warning" data-toggle="modal"
                        data-url="@Url.Action("Edit","Tickets",new { id = item.IDEstado })">
                    <i class="fa fa-edit"></i> Editar
                </button>
                <button class="btn btn-danger" data-toggle="modal"
                        data-url="@Url.Action("Delete","Tickets", new { id = item.IDEstado})">
                    <i class="fa fa-trash"></i> Eliminar
                </button>
            </td>




        </tr>
    }

</table>

<script>
    $('#tablaestados').DataTable({
        initComplete: function () {
            this.api()
                .columns()
                .every(function () {
                    var column = this;
                    var title = column.footer().textContent;


                    $('<input type="text" placeholder="Busqueda"/>')
                        .appendTo($(column.footer()).empty())
                        .on('keyup change clear', function () {
                            if (column.search() !== this.value) {
                                column.search(this.value).draw();
                            }
                        });
                });
        },
    });
</script>

<script>
  $(document).ready(function () {
    $('.btn-success').click(function () {
      window.location.href = '@Html.Raw(Url.Action("Create"))';
    });
  });
</script>

<div class="modal fade" id="modalEdit"></div>
<div class="modal fade" id="modalDelete"></div>
<script>
    $('.btn-warning').click(function () {
        let url = $(this).data('url');
        $.get(url, function (data) {
            $('#modalEdit').html(data);
            $('#modalEdit').modal('show');
        });
    });
    $('.btn-danger').click(function () {
        let url = $(this).data('url');
        $.get(url, function (data) {
            $('#modalDelete').html(data);
            $('#modalDelete').modal('show');
        });
    });

</script>
