
@model TicketManzano.Models.PrioridadTickets 

<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Editar Prioridad</h4>

        </div>
        @*<form action="@Url.Action("Edit","TipoUsuario")" method="post">*@
        <!-- Modal body -->
        <div class="modal-body">
            <input type="hidden" id="id_tipousuario" name="id_tipousuario" value="@Model.IDPrioridad" />
            <label> Nombre:</label>
            <input type="text" id="nombretipo" name="nombre" value="@Model.NombrePrioridad" class="form-control" />
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">

            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <input type="submit" id="editar" value="Editar" class="btn btn-primary" />
        </div>
        @*</form>*@
    </div>
</div>

<script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>

<script>


    $('#editar').click(function (e) {
        e.preventDefault();
        let error = '';

        if ($('#nombretipo').val().trim() === '')
            error += 'Debe ingresar nombre \n';

        if (error != '') {
            swal('Error validación', error, 'error');
        }
        else
        {
            const data = {
                IDPrioridad: $('#id_tipousuario').val(),
                NombrePrioridad: $('#nombretipo').val().trim()

            }
            //se enviarán los datos al controlador a través de ajax
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Edit")',
                data: '{prioridadtickets:' + JSON.stringify(data) + '}',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (ok) {
                    if (ok === '') {
                        swal({
                            title: 'Modificación correcta',
                            text: 'Los datos se han guardado con éxito!',
                            icon: 'success',
                            button: 'Cerrar',
                            closeOnClickOutside: false,
                        }).then(function (isConfirm) {
                            if (isConfirm) {
                                location.reload();//recarga la página

                            }
                        });
                    } else {
                        swal('Error', ok, 'error');
                    }
                }
            });
        }
    });




</script>

