@model IEnumerable<TicketManzano.Models.AsuntoTickets>
@{
    ViewBag.Title = "Listado de Tickets";
}

<h2>Listar Tickets</h2>


<p>
    <button type="button" class="btn btn-success"><i class="bi bi-check-circle"></i> Nuevo</button>
   
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>

            <th>
                Nombre
            </th>

            <th>
                Nombre
            </th>

            <th>
                Nombre
            </th>

            <th>
                Nombre
            </th>

            <th>
                Nombre
            </th>

            <th>
                Nombre
            </th>

            <th>
                Nombre
            </th>

            <th>
                Nombre
            </th>



            <th>
                Acciones
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreAsunto)
            </td>

            <td>
                <button class="btn btn-warning" data-toggle="modal"
                        data-url="@Url.Action("Edit","AsuntoTickets",new { id = item.IDAsunto })">
                    <i class="fa fa-edit"></i> Editar
                </button>
                <button class="btn btn-danger" data-toggle="modal"
                        data-url="@Url.Action("Delete","AsuntoTickets", new { id = item.IDAsunto })">
                    <i class="fa fa-trash"></i> Eliminar
                </button>
            </td>




        </tr>
    }

</table>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
  $(document).ready(function () {
    $('.btn-success').click(function () {
      window.location.href = '@Html.Raw(Url.Action("Create"))';
    });
  });
</script>

<div class="modal fade" id="modalEdit"></div>
<div class="modal fade" id="modalDelete"></div>
<script>
    $('.btn-warning').click(function () {
        let url = $(this).data('url');
        $.get(url, function (data) {
            $('#modalEdit').html(data);
            $('#modalEdit').modal('show');
        });
    });
    $('.btn-danger').click(function () {
        let url = $(this).data('url');
        $.get(url, function (data) {
            $('#modalDelete').html(data);
            $('#modalDelete').modal('show');
        });
    });

</script>
