@model TicketManzano.Models.Usuarios


<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Eliminar Tipo de Usuario</h4>

        </div>
        @*<form action="@Url.Action("Delete","TipoUsuario")" method="post">*@
        <!-- Modal body -->
        <div class="modal-body">
            <input type="hidden" id="idusuario" name="id_tipo" value="@Model.IDUsuario" />
            <h4>¿Desea eliminar a "@Model.CorreoElectronico" ?</h4>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <input type="button" id="eliminar_tipo" value="Eliminar" class="btn btn-primary" />
        </div>
        @*</form>*@
    </div>
</div>


<script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>
<script>
    $('#eliminar_tipo').click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Delete")',
            data: '{id:' + JSON.stringify($('#idusuario').val()) + '}',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (resp) {
                if (resp == '') {
                    swal({
                        title: 'Eliminar Usuario',
                        text: 'Se ha eliminado con éxito el registro',
                        icon: 'success',
                        button: 'Cerrar',
                        closeOnClickOutside: false,
                    }).then(function (isConfirm) {
                        if (isConfirm) {
                            location.reload();
                        }
                    });

                } else {
                    swal("Eliminar", resp, "error");
                }
            }
        });
    });
</script>
