@model TicketManzano.Models.Usuarios
@{
    ViewBag.Title = "Create";
}


@*<div class="row wrapper border-bottom white-bg page-heading">
        <h2>Crear Usuario</h2>
    </div>*@



<div class="col-lg-8">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Registro de Usuarios</h4>

            <!-- Advanced Form Elements -->
            <form>

                <div class="row mb-3">

                    <div class="col-sm-10">

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nombre" placeholder="Ejemplo: Juan">
                            <label for="floatingInput">Nombres</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="apellido" placeholder="Ejemplo: Perez">
                            <label for="floatingInput">Apellidos</label>
                        </div>


                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" placeholder="name@example.com">
                            <label for="floatingInput">Correo Electrónico</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="password" placeholder="Password">
                            <label for="floatingPassword">Contraseña</label>
                        </div>




                        <div class="form-floating mb-3">

                            @*@Html.DropDownListFor(model => model.id_tipousuario, (SelectList)ViewBag.tipo, "-- Seleccione un tipo de usuario --", new { @class = "form-control" })*@
                            @Html.DropDownListFor(model => model.id_tipousuario, (SelectList)ViewBag.tipo, "-- Seleccione un tipo de usuario --", new { @class = "form-control", id = "id_tipousuario" })

                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <input type="button" value="Limpiar" id="limpiar" class="btn btn-secondary" />
                    <input type="button" value="Guardar" id="guardar" class="btn btn-primary" />
                </div>
            </form><!-- End General Form Elements -->

        </div>
    </div>

</div>







<!-- sweetalert permite mostrar alertas más glamorosas -->
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
<link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/plugins/select2/select2.full.min.js"></script>

<script>




    $('#guardar').click(function (e) {
        e.preventDefault();
        let error = '';

        if ($('#nombre').val().trim() === '')
            error += 'Debe ingresar nombre \n';
        if ($('#apellido').val().trim() === '')
            error += 'Debe ingresar apellido \n';

        if ($('#email').val().trim() === '')
            error += 'Debe ingresar un correo \n';
        if ($('#password').val().trim() === '')
            error += 'Debe ingresar contraseña \n';

        if ($('#id_tipousuario').val() === '')
            error += 'Debe ingresar tipo de usuario \n';



        if (error != '') {
            swal('Error validación', error, 'error');
        }
        else
        {
            const data = {

                nombre: $('#nombre').val().trim(),
                apellido: $('#apellido').val().trim(),
                CorreoElectronico: $('#email').val().trim(),
                Password: $('#password').val().trim(),
                id_tipousuario: $('#id_tipousuario').val()


            }
            //se enviarán los datos al controlador a través de ajax
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create")',
                data: '{usuarios:' + JSON.stringify(data) + '}',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (ok) {
                    if (ok === '') {
                        swal({
                            title: 'Creación Usuario',
                            text: 'Los datos se han guardado con éxito!',
                            icon: 'success',
                            button: 'Cerrar',
                            closeOnClickOutside: false,
                        }).then(function (isConfirm) {
                            if (isConfirm) {
                                location.reload();//recarga la página

                            }
                        });
                    } else {
                        swal('Error', ok, 'error');
                    }
                }
            });
        }
    });
    $('#limpiar').click(function () {
        limpiar();
    });




    function limpiar() {

        $('#nombre').val('');
        $('#apellido').val('');

        $('#email').val('');
        $('#pass').val('');
        $('#tipo').select2("val", "");

    }
</script>



